* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    font-weight: normal;
    background: #000000;
}

.big-wrapper {
    align-items: center;
    justify-content: space-between;
}

.title {
    align-items: center;
    margin-top: 80px;
    text-align: center;
    font-weight: 700px;
    font-size: 40px;
    color: #fff;
}

.ordering-wrapper {
    display: flex;
    margin-left: 150px;
}

.left-section{
    width: 374px;
    height: 510px;
    margin-left: 150px;
    border: 1px;
}

.type {
    width: 287px;
    height: 55px;
    margin-top: -208px;
    margin-left: -432px;
    border-radius: 14px;
    border: 1px;
    border-color: #fff;
}

.ChooseType {
    color: #fff;
    margin-left: 150px;
    margin-top: 80px;
    text-wrap: nowrap;
}

.form-select {
    width: 287px;
    height: 50px;
    margin-top: -60px;
    margin-left: 150px;
    border-radius: 14px;
    border: solid, 1px;
    border-color: #fff;
    color: #fff;
    padding: 0 10px;
    background-color: #000000;
}

.cost {
    text-wrap: nowrap;
    margin-top: 26px;
    color: #fff;
}

.Franklin {
    width: 113px;
    height: 44px;
    margin-top: 30px;
    margin-left: 400px;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.img {
    width: 345px;
    height: 345px;
    margin-left: 120px;
}

.right-section {
    align-items: center;
    justify-content: space-between;
    width: 457px;
    height: 419px;
    margin-top: 162px;
    margin-left: 400px;
    border-radius: 14px;
    border: 1px;
}

.TaypeCount {
    color: #fff;
}

.input {
    width: 287px;
    height: 50px;
    margin-top: 15px;
    margin-left: 3px;
    border-radius: 14px;
    border: solid, 1px;
    border-color: #fff;
    color: #fff;
    padding: 0 10px;
    background-color: #000000;
}

.Adress {
    display: flex;
    justify-content: start;
    
}

.adres img {
    margin-top: 7px;
}

.adresName {
    width: 423px;
    height: 144px;
    margin-top: 16px;
    margin-left: 3px;
    border-radius: 14px;
    border: solid 1px;
    border-color: #fff;
    color: #fff;
    padding: 8px 13px;
    background-color: #000000;
}

.icon-logo {
    text-wrap: nowrap;
    margin-top: 50px;
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: start;
    
}

.adress {
    color: #fff;
    margin-top: 50px;
}

.total {
    margin-top: 18px;
    display: flex;
}

.orderBtn {
    width: 212px;
    height: 69px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 14px;
    border: solid 1px;
    border-color: #fff;
    background-color: #000000;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.orderBtn:hover {
    color: #5b6684;
    transition: 0.3s ease-in-out;
}